/* .dot:hover{
    transform: rotateY(360deg);
    transition: 1s;
} */



/* .box:hover{
    transform: translateY(-19px);
    transform: scaleY(0.7); 
    transform: scale(1.4);
    background-color: green;
    transition: 0.5s;
} */


.dot{
    animation-name: animimage;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: 0.6;
    animation-delay: 5s;
}


.box{
    width: 300px;
    height: 300px;
    background-color: blue;
    animation-name: run;
    animation-duration: 5s;
}

@keyframes run {
    /* Step 1 */
    0%{
        transform: translate(0);
    }
    /* Step 2 */
    25%{
        transform: translateX(800px);
    }
    /* Step 3 */
    50%{
        transform: translateX(800px) translateY(400px);
    }
    /* Step 4 */
    75%{
        transform: translateX(0px) translateY(400px);
    }
}


/* @keyframes animimage {
    from{
        transform: rotate(0deg);
    }   
    to{
        transform: rotateY(360deg);
    }    
} */